# 7.11

In [2]:
pizza_kamran=['tikka Pizza','Siclian Pizza','Greek Pizza','Shahi Pizza']
friend_pizza_kamran=pizza_kamran[:]
print("My Favorite pizzas are:")
for pizzas in pizza_kamran: print(pizzas)
print("\nMy friend's Favorite pizzas are:")
for friend_pizzas in friend_pizza_kamran: print(friend_pizzas)

My Favorite pizzas are:
tikka Pizza
Siclian Pizza
Greek Pizza
Shahi Pizza

My friend's Favorite pizzas are:
tikka Pizza
Siclian Pizza
Greek Pizza
Shahi Pizza

# **4.13**

In [7]:
buffet_kamran=('Mutton','Chicken','rice','kabab','fish') 
print("Our Resturant Offers following Foods:")
for foods in buffet_kamran:print(foods)

buffet_kamran=('Mutton','Chicken','rice','kabab','fish','Tikka Boti') 
print("Our Resturant Offers following Foods after adding new items:") 
for foods in buffet_kamran:
    print(foods)

Our Resturant Offers following Foods:
Mutton
Chicken
rice
kabab
fish
Our Resturant Offers following Foods after adding new items:
Mutton
Chicken
rice
kabab
fish
Tikka Boti

# 5.2

In [9]:
#p1
cell_kamran="OPPOA5S" 
print(cell_kamran=='Nokia') 
print(cell_kamran=='OPPOA5S') 
print(cell_kamran!='Nokia') 
print(cell_kamran!='OPPOA5S')

# Part 2 
# Test using the Lower function 
print("\n") 
print(cell_kamran.lower()=='OPPOA5S') 
print(cell_kamran.lower()=='OPPOA5S')

# Part 3 
print("\n") 
bee_kamran=15
print(bee_kamran==10) # Equality 
print(bee_kamran!=10) # Non Equality 
print(bee_kamran>15) # Greater then 
print(bee_kamran<15) # Less then 
print(bee_kamran>=10) #Greater then equal to 
print(bee_kamran<=15) # less then equal to

#Part 4 
print("\n") 
age_kamran=27 
height_kamran=5.7
print(age_kamran>30 and height_kamran>=5.6) 
print(age_kamran>30 or height_kamran>=5.6)

# Part 5
 
print("\n") 
list_kamran=[30,25,56,580,582,100] 
item_kamran=990
for item in list_kamran:
    if(item_kamran==item): item_kamran=True
if(item_kamran==True):
    print("Item is Available in the list")
else:
    print("Item is Not available in the list")

False
True
True
False


False
False


False
True
False
False
True
True


False
True


Item is Not available in the list

6.3

In [10]:
glossary_kamran={
'Variable':'Named memory locations', 
'List':'data structure to store group of items',
 
'Python':'A high level Programing Language', 
'if':'conditional Statement',
'Loops':'Repeatedly executes statement or block of statements'
}
for key, value in glossary_kamran.items(): 
    print(key+":\t"+value)

Variable:	Named memory locations
List:	data structure to store group of items
Python:	A high level Programing Language
if:	conditional Statement
Loops:	Repeatedly executes statement or block of statements

# 6.11

In [11]:
cities_kamran={ 'Lahore':{
'Country':'Pakistan', 'Population':'11.13 Million', 'Fact':'Biggest city of the region'
},
'New York':{
'Country':'United States', 'Population':'8.468 Million',
'Fact':'About 22 percent of New York City\'s land is used for public parks '
},
'Mumbai':{
'Country':'India', 'Population':'20.96 Million',
'Fact':'Mumbai was earlier called as Bombay'
}
}
for cities,info in cities_kamran.items(): 
    print("\nCity Name: "+cities) 
    print("\tContry: "+info['Country']) 
    print("\tPopulation: "+info['Population']) 
    print("\tFact: "+info['Fact'])

City Name: Lahore
	Contry: Pakistan
	Population: 11.13 Million
	Fact: Biggest city of the region

City Name: New York
	Contry: United States
	Population: 8.468 Million
	Fact: About 22 percent of New York City's land is used for public parks

City Name: Mumbai
	Contry: India
	Population: 20.96 Million
	Fact: Mumbai was earlier called as Bombay